.xmlid-8627-icon {
  position: absolute;
  height: 0.59%;
  width: 0.42%;
  top: 22.29%;
  right: 95.14%;
  bottom: 77.13%;
  left: 4.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.agendar,
.crear-citas-child {
  position: absolute;
  top: 560px;
  left: 344px;
  width: 121px;
  height: 49px;
}
.crear-citas-child {
  position: absolute;
  top: 560px;
  left: 600px;
  border-radius: var(--br-8xs);
  background-color: var(--color-steelblue);
  box-shadow: 0 4px 19px rgba(119, 147, 65, 0.25);
}
.agendar {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:600px;
  top: 560px;

}
.group-child {
  position: absolute;
  top: -19.67px;
  left: -35px;
  border-radius: var(--br-xl);
  width: 1162.49px;
  height: 145.78px;
}.group-child1 {
   position: absolute;
   top: -50.67px;
   left: 14px;
   border-radius: var(--br-xl);
   width: 1162.49px;
   height: 145.78px;
 }

.agendar-citas,
.doctor {
  position: absolute;
  top: 19.33px;
  left: 31.49px;
}
.doctor {
  font-size: medium;
  top: 300.33px;
  left: 523.49px;
}
.doctores{

  position: absolute;
  top: 300.33px;
  left: 650.49px;
  font-size: medium;
  font-weight: 200;
  border-radius: 20px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-steelblue);
  box-sizing: border-box;

}
.nombre {
  margin: 0;
  top: 216.33px;
  font-weight: 700;
  font-family: inherit;
}
.especialidad,
.ingrese-la-hora,
.nombre {
  position: absolute;
  left: 523.49px;
  font-size: medium;
}
.ingrese-la-hora {
  border: 0;
  font-family: var(--font-poppins);
  background-color: transparent;
  top: 357.33px;
  color: var(--color-black);
  text-align: left;
}
.especialidad {
  top: 251.33px;
}
.escoger-hora,
.especialidad1 {
  margin: 0;
  position: absolute;
  font-family: inherit;
}
.especialidad1 {
  top: 251.33px;
  left: 750.49px;
  font-size: var(--font-size-xl);
  font-weight: 200;
}
.especialidades{

  position: absolute;
  top: 251.33px;
  left: 650.49px;
  font-size: medium;
  font-weight: 200;
  border-radius: 20px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-steelblue);
  box-sizing: border-box;
}
.nombre1{
  top: 251.33px;
  left: 750.49px;
  font-size: var(--font-size-xl);
  font-weight: 200;
}
.escoger-hora {
  top: 350.33px;
  left: 523.49px;
  font-size: medium;
  font-weight: 700;
}
.group-item {
  position: absolute;
  top: 28.67px;
  left: 910.82px;
  border-right: 1px solid #c5c5c5;
  box-sizing: border-box;
  width: 1px;
  height: 26.77px;
}
.nombre1,
.paciente {
  position: absolute;
  top: 24.93px;
  left: 985.05px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray);
}
.paciente {
  top: 42.93px;
  font-size: var(--font-size-3xs);
  color: var(--color-steelblue);
}
.profile-image-icon {
  position: absolute;
  top: 20.43px;
  left: 932.68px;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.seleccione-la-fecha {
  border: 0;
  background-color: transparent;
  font-family: var(--font-poppins);
  position: absolute;
  top: 300.33px;
  left: 125.49px;
  color: var(--color-black);
  text-align: left;
}
.side-menu-child,
.vector-parent {
  position: absolute;
  top: 2rem;
  left: 312.51px;
  width: 1105.22px;
  height: 387.34px;
}
.side-menu-child {
  top: 2rem;
  left: -1rem;
  border-radius: var(--br-xl);
  width: 20.2rem;
  height: 45.2rem;
}
.side-menu-item {
  position: absolute;
  top: 235px;
  left: 0;
  background-color: #e0f3ff;
  width: 270.74px;
  height: 49.72px;
}

.label_cita{
  position: absolute;
  top: 275.33px;
  left: 100.49px;
  font-size: medium;
  max-font-size: 0.5;
  min-font-size: 0.5;
}
.pqrs {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 370.13px;
  left: 72.78px;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.account,
.citas,
.pqrs {
  position: absolute;
}
.citas {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 251.2px;
  left: 72.73px;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.account {
  top: 500px;
  left: 35px;
}
.historial-medico {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 316px;
  left: 73.11px;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.horas{
  position: absolute;
  top: 350.33px;
  left: 700.49px;
  font-size:medium;
  font-weight: 200;
  border-radius: 20px;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-steelblue);
  box-sizing: border-box;
}
.cerrar-sesion,
.perfil {
  position: absolute;
  top: 520px;
  left: 73.11px;
}
.cerrar-sesion {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 550px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--color-steelblue);
  text-align: left;
  display: inline-block;
}
.bottom-cutter,
.top-cutter {
  position: absolute;
  top: 590.28px;
  left: -0.11px;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 271.74px;
  height: 1px;
}
.bottom-cutter {
  top: 1008.38px;
}
.contactenos1 {
  font-weight: 700;
}
.contactenos,
.p {
  margin: 0;
}
.p {
  font-size: var(--font-size-3xs);
  color: var(--color-darkslategray);
}
.contactenos-91-999-container {
  position: absolute;
  top: 600.01px;
  left: 70.26px;
  color: var(--color-steelblue);
}
.side-menu-inner {
  position: absolute;
  top: 510.69px;
  left: 31.95px;
  border-radius: var(--br-8xs);
  background-color: var(--color-steelblue);
  width: 27.64px;
  height: 32.32px;
}
.group-icon,
.group-icon1,
.group-icon2,
.group-icon3 {
  position: absolute;
  height: 1.44%;
  width: 5.67%;
  top: 97.74%;
  right: 80.28%;
  bottom: 0.82%;
  left: 14.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1,
.group-icon2,
.group-icon3 {
  height: 1.78%;
  width: 7.01%;
  top: 23.39%;
  right: 80.08%;
  bottom: 74.84%;
  left: 12.91%;
}
.group-icon2,
.group-icon3 {
  height: 1.5%;
  width: 5.9%;
  top: 57.9%;
  right: 81.19%;
  bottom: 40.6%;
}
.imagenPaciente{
  position: absolute;
  top: 2rem;
  left: 98rem;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.group-icon3 {
  height: 1.31%;
  width: 6.27%;
  top: 63.52%;
  right: 80.82%;
  bottom: 35.17%;
}
.logo-1-icon,
.whatsapp-image-2022-07-04-at-1 {
  position: absolute;
  top: 128px;
  left: 26px;
  width: 134px;
  height: 52px;
  object-fit: cover;
}
.whatsapp-image-2022-07-04-at-1 {
  top: 112px;
  left: 11px;
  width: 166px;
  height: 87px;
}
.side-menu {
  position: absolute;
  top: -92px;
  left: 22px;
  width: 271.13px;
  height: 1069.01px;
  font-size: var(--font-size-xs);
}
.crear-citas {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 40rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.error,
.error-img {
  position:relative !important;
  top: 100%;
  left: 0;
  color: red;
  font-size: 12px;
}

.error-img{
  top: 45%;
}

