<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/my-app/src/styles.css" />
  <link rel="stylesheet" href="./crear-cita.component.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,700&display=swap"
  />
</head>
<body>
<div class="crear-citas">

  <div class="crear-citas-child"></div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
  <button class="agendar">AGENDAR</button>
  <div class="vector-parent">
    <img class="group-child1" alt="" src="./public/rectangle-60.svg" />

    <b class="agendar-citas">Agendar Citas</b>
    <b class="doctor">Doctor:</b>
    <select class="doctores" name="Doctor">
      <b class="doctor1">Doctor</b>
      <option value="Dr. Juan Perez">Dr. Juan Perez</option>
      <option value="Dr. Juan Perez">Dr. A</option>
      <option value="Dr. Juan Perez">Dr. B</option>
    </select>
    <input class="ingrese-la-hora" type="text" />

    <b class="especialidad">Especialidad:</b>
    <select class="especialidades" name="Especialidad">
      <b class="especialidad1">Especialidad</b>
      <option value="Cardiologia">Cardiologia</option>
      <option value="Dermatologia">Dermatologia</option>
      <option value="Ginecologia">Ginecologia</option>
      <option value="Neurologia">Neurologia</option>
    </select>
    <b class="escoger-hora">Escoger Hora:</b>
    <select class ="horas">
      <option value="8:00">8:00</option>
      <option value="9:00">9:00</option>
      <option value="10:00">10:00</option>
      <option value="11:00">11:00</option>
    </select>>
    <div class="group-item"></div>
    <div class="paciente">PACIENTE</div>
    <img
      class="profile-image-icon"
      alt=""
      src="../../../assets/img/icon-register.png"
    />

    <label class="label_cita">Fecha de la cita:</label>
      <input
      class="seleccione-la-fecha"
      value="date"
      placeholder="Ingrese la fecha"
      type="date"
      ngModel #fechaCita="ngModel" required
    />
    <div
      *ngIf="fechaCita.invalid && (fechaCita.dirty || fechaCita.touched || registerForm.submitted)"
      class="alert">
      <div *ngIf="fechaCita.errors?.['required']">La fecha de la cita es requerida.</div>
    </div>
  </div>
  <div class="side-menu">
    <img class="side-menu-child" alt="" src="./public/rectangle-59.svg" />

    <div class="side-menu-item"></div>
    <button class="pqrs">PQRS</button>
    <button class="citas">Citas</button>
    <b class="account">ACCOUNT</b>
    <button class="historial-medico">Historial Medico</button>
    <div class="perfil">Perfil</div>
    <a href="/medico-consulta "class="cerrar-sesion">Cerrar Sesión</a>
    <div class="top-cutter"></div>

    <div class="contactenos-91-999-container">
      <p class="contactenos">
        <i class="contactenos1">Contactenos:</i>
      </p>
      <p class="p">+91 -999 999 9999</p>
    </div>



    <img class="logo-1-icon" alt="" src="../../../assets/img/img.png" />


  </div>

</form>
</div>
</body>
</html>
