<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/my-app/src/styles.css" />
    <link rel="stylesheet" href="./registro.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    />
  </head>
  <body>
    <div class="register-usuario">
      <section class="rectangle-parent">
        <div class="group-child"></div>
        <div class="rectangle-group">
          <div class="group-item"></div>
          <div class="parent">
            <img class="icon" alt="" src="./public/6915987-1@2x.png" />

            <div class="subir-foto">
              <p class="subir-foto1">Subir Foto</p>
            </div>
            <div class="enter-your-username-or-email-a-parent">
              <div class="enter-your-username">Ingrese su cedula</div>
              <input class="instance-child" type="text" />

              <div class="username-or-email">Cedula</div>
            </div>
            <div class="enter-your-username-or-email-a-group">
              <div class="enter-your-username">Ingrese su nombre completo</div>
              <input class="instance-child" type="text" />

              <div class="username-or-email">Nombre Completo</div>
            </div>
            <div class="enter-your-username-or-email-a-container">
              <div class="enter-your-username">
                Ingrese su fecha de nacimiento
              </div>
              <input class="instance-child" type="text" />

              <div class="username-or-email">Fecha de Nacimiento</div>
            </div>
            <div class="group-div">
              <div class="enter-your-username">Ingrese su email</div>
              <input class="instance-child" type="text" />

              <div class="username-or-email">Email</div>
            </div>
            <div class="enter-your-username-or-email-a-parent1">
              <div class="enter-your-username">Ingrese su contraseña</div>
              <input class="instance-child" type="text" />

              <div class="username-or-email">Contraseña</div>
            </div>
            <img
              class="icon-calendar"
              alt=""
              src="./public/-icon-calendar.svg"
            />

            <div class="enter-your-username-or-email-a-parent2">
              <div class="enter-your-username">
                Ingrese su ciudad de residencia
              </div>
              <div class="rectangle-div"></div>
              <div class="username-or-email">Ciudad de Residencia</div>
            </div>
            <img
              class="icon-triangle-down"
              alt=""
              src="./public/-icon-triangle-down.svg"
            />

            <div class="enter-your-username-or-email-a-parent3">
              <div class="enter-your-username">Ingrese su tipo sanguineo</div>
              <div class="rectangle-div"></div>
              <div class="username-or-email">Tipo Sanguineo</div>
            </div>
            <div class="enter-your-username-or-email-a-parent4">
              <div class="enter-your-username">Ingrese su EPS</div>
              <div class="rectangle-div"></div>
              <div class="username-or-email">EPS</div>
            </div>
            <div class="enter-your-username-or-email-a-parent5">
              <div class="enter-your-username">Ingrese sus alergias</div>
              <input class="instance-child" type="text" />

              <div class="username-or-email">Alergia</div>
            </div>
            <img
              class="icon-triangle-down1"
              alt=""
              src="./public/-icon-triangle-down1.svg"
            />

            <img
              class="icon-triangle-down2"
              alt=""
              src="./public/-icon-triangle-down2.svg"
            />

            <div class="enter-your-username-or-email-a-parent6">
              <div class="enter-your-username">Ingrese su telefono</div>
              <div class="rectangle-div"></div>
              <div class="username-or-email">Telefono</div>
            </div>
            <img
              class="icon-plus-circled"
              alt=""
              src="./public/-icon-plus-circled.svg"
            />

            <img
              class="icon-plus-circled1"
              alt=""
              src="./public/-icon-plus-circled1.svg"
            />
          </div>
          <div class="rectangle-container">
            <button class="group-inner"></button>
            <div class="registrarse">Registrarse</div>
          </div>
        </div>
      </section>
      <img
        class="whatsapp-image-2022-07-04-at-1"
        alt=""
        src="./public/whatsapp-image-20220704-at-1042-1@2x.png"
      />
    </div>
  </body>
</html>
