<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/my-app/src/styles.css" />
    <link rel="stylesheet" href="./registro.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    />
  </head>
  <body>
    <div class="register-usuario">
      <section class="rectangle-parent">
        <div class="group-child"></div>
        <div class="rectangle-group">
          <div class="group-item"></div>
          <div class="parent">
            <img class="icon" alt="" src="./public/6915987-1@2x.png" />

              <input class="subir-foto" type="file" name="Subir Foto" accept="image/png, .jpeg, .jpg, image/gif" value="Subir Foto">

            <div class="enter-your-username-or-email-a-parent">
              <div class="enter-your-username">Ingrese su cedula</div>
              <input class="instance-child" type="text" placeholder="Cedula"/>
            </div>
            <div class="enter-your-username-or-email-a-group">
              <div class="enter-your-username">Ingrese su nombre completo</div>
              <input class="instance-child" type="text" placeholder="Nombre Completo"/>
            </div>
            <div class="enter-your-username-or-email-a-container">
              <div class="enter-your-username">
                Ingrese su fecha de nacimiento
              </div>
                <input class="instance-child" type="date" id="start" name="trip-start" value="Fecha de Nacimiento" />
            </div>
            <div class="group-div">
              <div class="enter-your-username">Ingrese su email</div>
              <input class="instance-child" type="text" placeholder="Email"/>
            </div>
            <div class="enter-your-username-or-email-a-parent1">
              <div class="enter-your-username">Ingrese su contraseña</div>
              <input class="instance-child" type="text" placeholder="Contraseña"/>
            </div>

            <div class="enter-your-username-or-email-a-parent2">
              <div class="enter-your-username">
                Ingrese su ciudad de residencia
              </div>
              <div class="username-or-email">Ciudad de Residencia</div>
              <select class="rectangle-div" name="Ciudad de Residencia">
                <option value="Armenia">Armenia</option>
              </select>
            </div>

            <div class="enter-your-username-or-email-a-parent3">
              <div class="enter-your-username">Ingrese su tipo sanguineo</div>
              <div class="rectangle-div"></div>
              <select class="rectangle-div" >
                <option>O-</option>
                <option>O+</option>
                <option>A-</option>
                <option>A+</option>
                <option>B-</option>
                <option>B+</option>
                <option>AB-</option>
                <option>AB+</option>
              </select>
            </div>
            <div class="enter-your-username-or-email-a-parent4">
              <div class="enter-your-username">Ingrese su EPS</div>
              <div class="rectangle-div"></div>
              <select class="rectangle-div" >
                <option value="Armenia">Armenia</option>
              </select>
            </div>
            <div class="enter-your-username-or-email-a-parent5">
              <div class="enter-your-username">Ingrese sus alergias</div>
              <input class="instance-child" type="text" />
            </div>

            <div class="enter-your-username-or-email-a-parent6">
              <div class="enter-your-username">Ingrese su telefono</div>
              <div class="rectangle-div"></div>
              <input class="instance-child" type="text" placeholder="Telefono"/>
            </div>
          </div>
          <div class="rectangle-container">
            <button class="group-inner"></button>
            <div class="registrarse">Registrarse</div>
          </div>
        </div>
      </section>
      <img
        class="whatsapp-image-2022-07-04-at-1"
        alt=""
        src="./public/whatsapp-image-20220704-at-1042-1@2x.png"
      />
    </div>
  </body>
</html>
