<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/my-app/src/styles.css"  />
    <link rel="stylesheet" href="./medico-consulta.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap"
    />
  </head>
  <body>
    <main class="consulta" id="Cosulta">
      <a class="finalizar">Finalizar</a>

    <img
    class ="imagenPaciente"
    alt =""
    src="./../../assets/img/icon-register.png"
     />
     
    <div class="contenedor">
        <h2 class="john-doe" id="nombrePaciente">John Doe</h2>
        <h3 class="tipo-de-sangre" id="TipoSangre">Tipo de Sangre</h3>
        <h3 class="a" id="tipoSangrePaciente">A+</h3>
        <h3 class="telfono" id="Telefono">Teléfono</h3>
        <h3 class="eps" id="EPS">EPS</h3>
        <h3 class="ciudad" id="Ciudad">Ciudad</h3>
        <h3 class="alergias" id="Alergias">Alergias</h3>
        <h3 class="h3" id="TelefonoPaciente">9995 999 999</h3>
        <h3 class="aaaaa" id="EpsPaciente">AAAAA</h3>
        <h3 class="armenia" id="CiudadPaciente">Armenia</h3>
        <div class="consulta-child1"></div>
        <div class="alergia-1">Alergia 1</div>
        <div class="alergia-2">Alergia 2</div>
    </div>
      <div class="line-div"></div>
      <b class="paciente">Paciente</b>
      <h2 class="medicamentos" id="MedicamentosLabel">Medicamentos:</h2>
      <div class="consulta-child2"></div>
      <textarea class="medicamento-1">Medicamento 1</textarea>
      <div class="consulta-child3"></div>
      <textarea class="medicamento-2">Medicamento 2</textarea>
      <textarea class="lorem-ipsum-dolor" placeholder="Notas del médico">
</textarea>

      <div class="notas-del-mdico">Notas del médico</div>
      <textarea
        class="diagnosticoPaciente"
        placeholder="Ingrese el diagnóstico del paciente"
      >
</textarea
      >
      <h5 class="diagnostico" id="LabelDiagnostico">Diagnóstico</h5>
      <a href="/login" class="volver">Volver</a>
      <div class="side-menu">
        <img class="side-menu-child" alt="" src="./public/rectangle-59.svg" />

        <div class="side-menu-item"></div>
        <b class="account">ACCOUNT</b>
        <div class="perfil">Perfil</div>
        
        <a href="/login" class="cerrar-sesin">Cerrar Sesión</a>
        <div class="top-cutter"></div>
        <div class="bottom-cutter"></div>
        <div class="contactenos-91-999-container">
          <p class="contactenos">
            <i class="contactenos1">Contactenos:</i>
          </p>
          <p class="p">+91 -999 999 9999</p>
        </div>
        <div class="side-menu-inner"></div>
        <img
          class="whatsapp-image-2022-07-04-at-1"
          alt=""
          src="../../../assets/img/img.png"
        />

        <div class="inicio">Inicio</div>
        

        <div class="agenda">Agenda</div>
      </div>
      <div class="vector-parent">
        

        <b class="consulta1">Consulta</b>
        <div class="group-item"></div>
        <b class="nombre">NOMBRE</b>
        <div class="medico-wrapper">
          <div class="medico">Medico</div>
        </div>
        <img
          class="profile-image-icon"
          alt=""
          src="../../../assets/img/icon-register.png"
        />
      </div>
    </main>
  </body>
</html>
